# Python environment
venv/
.venv/
ENV/
env/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDE and Project Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# System files
Thumbs.db
Desktop.ini
